Type Hinting:

In [4]:
# Lists allows all data types and duplicates

from typing import List, Union

this_list: List[Union[str, int, float, List[str]]] = ["banana", 6, 9.08, ["box", "pencil"], 6]
print(this_list)

['banana', 6, 9.08, ['box', 'pencil'], 6]

In [2]:
fruits : str = ["banana", "apple", "cherry", "grapes", "watermelon"]
print(fruits)

#You can also create a list with a list function like this:

my_list : list = list()
print(my_list)

['banana', 'apple', 'cherry', 'grapes', 'watermelon']
[]

In [8]:
#Iterate through lists using for in loop

for i in fruits:
    print(i, end=" ")

banana apple cherry grapes watermelon

In [10]:
#To check if something is in the list

if "grapes" in fruits:
    print("Yes, grapes are in the list")
else:
    print("No, grapes are not in the list")

Yes, grapes are in the list

In [11]:
# How many elements inside a list?
len(fruits)

5

In [12]:
# What is the last index
len(fruits) - 1

4

In [13]:
# Add a fruit (element) in the end
fruits.append("strawberry")
print(fruits)

['banana', 'apple', 'cherry', 'grapes', 'watermelon', 'strawberry']

In [14]:
# Blueberry shoud be added after the grapes : 0
fruits.insert(4, "blueberry")
print(fruits)

['banana', 'apple', 'cherry', 'grapes', 'blueberry', 'watermelon', 'strawberry']

In [17]:
# Remove the last element
removed_fruit = fruits.pop()
print(fruits)
print(removed_fruit)

['banana', 'apple', 'cherry', 'grapes']
blueberry

In [18]:
# Remove a specific element
item = fruits.remove("banana")
print(fruits)
print(item)

['apple', 'cherry', 'grapes']
None

In [19]:
# Remove every element
fruits.clear()
print(fruits)

[]

In [21]:
# Reverse the list elements:
fruits : str = ["banana", "apple", "cherry", "grapes", "watermelon", "blueberry"]
fruits.reverse()
print(fruits)

['blueberry', 'watermelon', 'grapes', 'cherry', 'apple', 'banana']

In [22]:
# Or:
fruits : str = ["banana", "apple", "cherry", "grapes", "watermelon", "blueberry"]
fruits = fruits[::-1]
print(fruits)

['blueberry', 'watermelon', 'grapes', 'cherry', 'apple', 'banana']

In [23]:
# Or:
fruits : str = ["banana", "apple", "cherry", "grapes", "watermelon", "blueberry"]
fruits.sort(reverse=True)   # Sort is putting the elements in the alphabetic order
print(fruits)

['watermelon', 'grapes', 'cherry', 'blueberry', 'banana', 'apple']

In [26]:
# Elements in Alphabetic order (Strings):
fruits : str = ["banana", "apple", "cherry", "grapes", "watermelon", "blueberry"]
fruits.sort()
print(fruits)

['apple', 'banana', 'blueberry', 'cherry', 'grapes', 'watermelon']

In [27]:
# Elements in numeric order (Numbers):
num_list = [6, 4, 0, -1, 3, 1]
num_list.sort()
print(num_list)

[-1, 0, 1, 3, 4, 6]

In [31]:
# Or
num_list = [6, 4, 0, -1, 3, 1]
new_num_list = sorted(num_list)
print(num_list)
print(new_num_list)

[6, 4, 0, -1, 3, 1]
[-1, 0, 1, 3, 4, 6]

In [32]:
# List with just range function
fast_list = list(range(1, 21))
print(fast_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [33]:
# Fast Lists:
fast_list = [5] * 5
print(fast_list)

[5, 5, 5, 5, 5]

In [35]:
# Combining two lists:
fruits = ["banana", "apple", "cherry", "grapes", "watermelon", "blueberry"]
veges = ["okra", "potato", "brinjal", "lemon", "coriander", "bitter-gourd"]
healthy_food = fruits + veges
print(healthy_food)

['banana', 'apple', 'cherry', 'grapes', 'watermelon', 'blueberry', 'okra', 'potato', 'brinjal', 'lemon', 'coriander', 'bitter-gourd']

Slicing:

In [36]:
# Python indexes start from 0
nums = list(range(1, 11))
print(nums[0])

1

In [37]:
print(nums[1:4])

[2, 3, 4]

In [38]:
print(nums[0:11:2])   #start, end(not included), step

[1, 3, 5, 7, 9]

In [39]:
# Reverse this list
print(nums[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Copying:

In [40]:
# You copy a list (Shallow copy)
org_list = ["ginger", "lemon", "honey", "hotwater"]
copy_list = org_list
print(org_list)
print(copy_list)

['ginger', 'lemon', 'honey', 'hotwater']
['ginger', 'lemon', 'honey', 'hotwater']

In [41]:
copy_list.append("chamomile")
print(org_list)
print(copy_list)

['ginger', 'lemon', 'honey', 'hotwater', 'chamomile']
['ginger', 'lemon', 'honey', 'hotwater', 'chamomile']

In [42]:
# The problem with the shalow copy is any change in the copy will effect the original as well to avoid it, we use copy() function
org_list = ["ginger", "lemon", "honey", "hotwater"]
copy_list = org_list.copy()
copy_list.append("sugar")
print(org_list)
print(copy_list)

['ginger', 'lemon', 'honey', 'hotwater']
['ginger', 'lemon', 'honey', 'hotwater', 'sugar']

In [43]:
# OR we use [:] slicing
org_list = ["ginger", "lemon", "honey", "hotwater"]
copy_list = org_list[:]
copy_list.append("jaggery")
print(org_list)
print(copy_list)

['ginger', 'lemon', 'honey', 'hotwater']
['ginger', 'lemon', 'honey', 'hotwater', 'jaggery']

List Comprehension

In [45]:
numbs = list(range(1, 11))
squares = [i**2 for i in numbs]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]