In [5]:
# Ordered Immutable Text Representation -> String ; )

this_string = "Hello Universe."
that_string = 'Hello Universe.'   # Enclosed in double or single quotes.

my_string = "I'm a programmer."

# OR

my_string_00 = "I\"m a programmer."  # With escape character which is backslash.

# Triple quotes for docstring:

long_string = """
Now the point is, there is a lot of text that need to come under one variable, \
single and double quotes won't be enough, we move to triple quotes. hehehehe
"""
# A backslash means it should not move to a new line and pring in continuity.

print(long_string)

Now the point is, there is a lot of text that need to come under one variable, single and double quotes won't be enough, we move to triple quotes. hehehehe

In [4]:
long_string = """
Now the point is, there is a lot of text that need to come under one variable, \n
single and double quotes won't be enough, we move to triple quotes. hehehehe
"""
# A backslash with an n, means it should move to a new line.

print(long_string)

Now the point is, there is a lot of text that need to come under one variable,

single and double quotes won't be enough, we move to triple quotes. hehehehe

In [15]:
# Access characters through slicing:

my_string = "Maximilian"
print(my_string[0])
print(my_string[1])
print(my_string[2])
print(my_string[::])
print(my_string[0:2])
chars = my_string[::-1]
print(chars)
print(my_string[0:6:2])      # All kinds of slicing is possible with strings just like lists.

M
a
x
Maximilian
Ma
nailimixaM
Mxm

In [16]:
# Concatenate

string_001 = "This place is "
string_002 = "beautiful."

print(string_001 + string_002)

This place is beautiful.

In [17]:
for i in string_001:
  print(i, end=" ")

T h i s   p l a c e   i s

In [18]:
if "e" in string_001:
  print("Yes")
else:
  print("No")

Yes

In [20]:
if "y" in string_001:
  print("Yes")
else:
  print("No")

No

In [26]:
my_string = "          Oh, White space!!!!                   "
print(my_string)

          Oh, White space!!!!

In [27]:
# Now remove it:
my_string = my_string.strip()
print(my_string)         # Or you can also use rstrip() and lstrip()

Oh, White space!!!!

In [35]:
# More for strings:


my_string = my_string.upper()
print(my_string)
my_string = my_string.lower()
print(my_string)
my_string = my_string.title()
print(my_string)
my_string = my_string.capitalize()
print(my_string)
my_string = my_string.swapcase()
print(my_string)
print(my_string.startswith("Oh,"))
print(my_string.endswith("!"))
another_string = "Arachnophobia"
print(another_string.find("a"))
print(another_string.count("o"))
print(another_string.replace("Arachno", "Acro"))   # This will return a new string, you better put it in another variable, it does not change the existing string.

OH, WHITE SPACE!!!!
oh, white space!!!!
Oh, White Space!!!!
Oh, white space!!!!
oH, WHITE SPACE!!!!
False
True
2
2
Acrophobia

In [36]:
# Turning string to a list:

this_string = "World is devious place. ;)"
this_list = this_string.split()
print(this_list)

# Easy right!

['World', 'is', 'devious', 'place.', ';)']

In [37]:
# For split(), in brackets by default a delimiter is set, which is " ", you can customise it.

wow_string = "Clouds.are.so.fluffy.and.soft."
wow_list = wow_string.split(".")  # Now we are essentially telling python to split from wherever you see a period.
print(wow_list)

['Clouds', 'are', 'so', 'fluffy', 'and', 'soft', '']

In [39]:
# Now to reverse it - >  A list to a string with " ".join()

this_list = ["The", "time", "is", "always", "right", "to", "do", "what", "is", "right!"]
this_string = " ".join(this_list)
print(this_string)

The time is always right to do what is right!

In [5]:
# More fun with it
from timeit import default_timer as timer

my_list = ["a"] * 6
my_string = ""

start = timer()
for i in my_list:
  my_string += i
  stop = timer()
  print(stop-start)

start = timer()
my_string = " ".join(my_list)
stop = timer()
print(stop-start)

5.450799994832778e-05
0.00013577599997915968
0.0001449420001335966
0.0001523000000815955
0.00015831400014576502
0.0001648019999720418
5.3396999874166795e-05

In [9]:
# Format String:

# Old formating style

one_variable = 5.50
another_variable = 10

my_string = "If we add both {:.2f} and {} we get ten point five zero".format(one_variable, another_variable)
print(my_string)

If we add both 5.50 and 10 we get ten point five zero

In [10]:
# New one

print(f"If we add both {one_variable} and {another_variable} we get ten point five zero.")

If we add both 5.5 and 10 we get ten point five zero.