<b>Non-primitive data types</b> in Python are used to store collections of data, unlike primitive data types that store single values. These data types are more complex and can hold other data structures within them, offering more versatile data storage capabilities. The main non-primitive data types in Python are:<br>
<b>Lists:</b>
Ordered, mutable sequences of items. They are defined using square brackets [] and can contain elements of different data types.<br>
<b>Tuples:</b>
Ordered, immutable sequences of items. They are defined using parentheses () and, like lists, can contain elements of different data types, but their contents cannot be modified after creation.<br>
<b>Dictionaries:</b>
Unordered collections of key-value pairs. They are defined using curly braces {} where each key is unique and associated with a value.<br>
<b>Sets:</b>
Unordered collections of unique items. They are defined using curly braces {} or the set() constructor and automatically remove duplicate entries.

In [1]:
# If there is one element in your tuple, despite surrounded by round brackets, it comes as 'str'
this_tuple = ("Maximilian")
print(type(this_tuple))

<class 'str'>

In [2]:
# To make it tuple you need to add a comma in the end
this_tuple = ("Maximilian",)
print(type(this_tuple))

<class 'tuple'>

In [3]:
# To turn something into a tuple, you can also use tuple function
this_tuple = tuple(("Maximilian"))
print(type(this_tuple))

<class 'tuple'>

In [4]:
another_tuple = tuple(range(0, 11))
print(another_tuple)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
# Accessing tuple elements
print(another_tuple[0])

0

In [6]:
# One cannot modify it since it is immutable
another_tuple[0] = 1
print(another_tuple)

TypeError: 'tuple' object does not support item assignment

In [7]:
for i in another_tuple:
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [8]:
if 8 in another_tuple:
  print("Yes")

Yes

In [14]:
my_tuple = ('a','p','p','l','e','p','i','e')
print(len(my_tuple))

8

In [15]:
my_tuple.count("e")

2

In [17]:
my_tuple.index("e")

4

In [18]:
# Turn tuple into a list
my_list = list(my_tuple)
print(my_list)

['a', 'p', 'p', 'l', 'e', 'p', 'i', 'e']

In [19]:
# And vice versa
my_tuple_1 = tuple(my_list)
print(my_tuple_1)

('a', 'p', 'p', 'l', 'e', 'p', 'i', 'e')

Slicing:

In [20]:
hay_tuple = tuple(range(0, 11))
print(hay_tuple)

sliced_part = hay_tuple[2:5]
print(sliced_part)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(2, 3, 4)

In [21]:
reversed_tuple = hay_tuple[::-1]
print(reversed_tuple)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [22]:
# Unpacking elements
a, b, c, *other, d = hay_tuple
print(a)
print(b)
print(c)
print(other)  # This will turn into a list of remaining elements
print(d)

0
1
2
[3, 4, 5, 6, 7, 8, 9]
10

In [27]:
# Practice
fruits = ("apple", "banana", "cherry", "watermelon", "strawberry", "blueberry")
(first, *in_between, last) = fruits

print(first)
print(in_between)
print(last)

apple
['banana', 'cherry', 'watermelon', 'strawberry']
blueberry

In [30]:
from genericpath import getsize
# Working with tuples is sometimes more efficient than working with lists especially with large data. It takes less space in memory.

import sys
my_list = [0, 1, 2, "hello", True]
my_tuple = (0, 1, 2, "hello", True)
print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

104 bytes
80 bytes

In [31]:
import timeit
print(timeit.timeit(stmt="[0, 1, 2, 3, 4, 5]", number=1000))
print(timeit.timeit(stmt="(0, 1, 2, 3, 4, 5)", number=1000))

# It took longer to create the list than to create the tuple.

5.604899979516631e-05
1.2401999811118003e-05