Sets --> Unordered, Mutable But no Duplicates

In [1]:
this_set = set(range(0, 11))
print(this_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [2]:
# We can change a list to a set, this is something we do when we need no duplicates in our list

this_list = [1, 2, 4, 5, 6, 9, 6, 4, 7, 12, 3, 0, 2, 5, 3, 4, 0]
this_set = set(this_list)
print(this_set)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 12}

In [3]:
# Now change this set back to list if needed

new_list = list(this_set)
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 9, 12]

In [4]:
# We can make sets of strings as well

string_set = set("Hello, World!")
print(string_set)

# Notice it is unordered and no letter is repeated

{'H', 'l', 'W', 'd', '!', ' ', 'r', ',', 'e', 'o'}

In [5]:
# Empty set, add values

first_set = set()          # You cannot use empty braces {} like you do with lists, it would be considered an empty dictionary, instead you would have to use set() function.
first_set.add(1)           # Unlike lists where we use append or insert, we will use add to add elements to an empty set
first_set.add(2)
first_set.add(3)
print(first_set)

{1, 2, 3}

In [6]:
# Remove elements .remove(element)

first_set.remove(3)
print(first_set)

{1, 2}

In [7]:
# Remove elements .discard(element)

another_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
another_set.discard(10)
print(another_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
# Remove elements .pop()

another_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
what_did_it_pop = another_set.pop()
print(what_did_it_pop)
print(another_set)

1
{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
# To empty our set

another_set.clear()
print(another_set)

set()

In [12]:
# Iterate over a set

this_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
for i in this_set:
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [14]:
# To check if a certain element is inside the set

if 5 in this_set:
  print("5 is in this set")
else:
  print("No, 5 is not in here.")

5 is in this set

Union and Intersection of Sets

In [15]:
even_nums = {2, 4, 6, 8, 10}
odd_nums = {1, 3, 5, 7, 9}
prime_nums = {2, 3, 5, 7}

u = even_nums.union(odd_nums)
print(u)

i = even_nums.intersection(prime_nums)
print(i)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2}

In [22]:
set_a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set_b = {1, 2, 3, 6, 7, 8, 9, 10}
diff = set_a.difference(set_b)
print(diff)

{4, 5}

In [23]:
# OR
diff = set_b.difference(set_a)
print(diff)

set()

In [24]:
# OR Symmetric Difference - the set containing elements that are in either set A or set B, but not in both

diff = set_b.symmetric_difference(set_a)
print(diff)

{4, 5}

In [25]:
# Combining two sets

set_a = {1, 2, 3, 4, 5}
set_b = {6, 7, 8, 9, 10}
set_a.update(set_b)
print(set_a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [26]:
# Combining the same elements

set_a = {1, 2, 3, 4, 5, 6}
set_b = {1, 2, 3, 8, 9, 10, 12}
set_a.intersection_update(set_b)
print(set_a)

{1, 2, 3}

In [27]:
# Combining the different elements

set_a = {1, 2, 3, 4, 5, 6}
set_b = {1, 2, 3, 8, 9, 10, 12}
set_a.difference_update(set_b)
print(set_a)

{4, 5, 6}

In [28]:
# Combining the symmentically different elements

set_a = {1, 2, 3, 4, 5, 6}
set_b = {1, 2, 3, 8, 9, 10, 12}
set_a.symmetric_difference_update(set_b)
print(set_a)

{4, 5, 6, 8, 9, 10, 12}

In [ ]:
# Everthing we did above does not modify the existing set, it creates a new one with the modification done.

In [29]:
# Subsets
set_a = {1, 2, 3, 4, 5}
set_b = {1, 2, 3}
print(set_b.issubset(set_a))

True

In [30]:
set_a = {1, 2, 3, 4, 5}
set_b = {1, 2, 3}
print(set_a.issubset(set_b))

False

In [31]:
# And vice versa
print(set_a.issuperset(set_b))
print(set_b.issuperset(set_a))

True
False

In [33]:
print(set_a.isdisjoint(set_b))  #Disjoint would mean that set a and b share no elements
print(set_b.isdisjoint(set_a))

set_c = {15, 16, 17, 18, 20}
print(set_a.isdisjoint(set_c))

False
False
True

Copying:

In [36]:
# Shallow copy of a set

set_a = {1, 2, 3, 4, 5}
set_b = set_a
print(set_b)

# Modify the copy

set_a.add(10)
print(set_a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 10}

In [39]:
# Wit .copy() method, the original set will not change if any modification is done to the copy.

set_a = {"a", "b", "c", "d", "e"}
set_b = set_a.copy()
set_b.add("f")
print(set_b)
print(set_a)

{'a', 'c', 'b', 'd', 'f', 'e'}
{'a', 'c', 'b', 'd', 'e'}

In [40]:
set_a = {"a", "b", "c", "d", "e"}
set_b = set(set_a)
set_b.add("f")
print(set_b)
print(set_a)

{'a', 'c', 'b', 'd', 'f', 'e'}
{'a', 'c', 'b', 'd', 'e'}

In [42]:
# Frozenset ---> unordered and immutable

set_a = frozenset([1, 2, 3, 4, 5])
print(set_a)
set_a.add(3)
print(set_a)

frozenset({1, 2, 3, 4, 5})

AttributeError: 'frozenset' object has no attribute 'add'