In [4]:
# Dictionary : Key, value pairs
# Simple Dictionary

my_dict = {'key1':'value1','key2':'value2'}
print(my_dict)

{'key1': 'value1', 'key2': 'value2'}

In [5]:
# Use dict function

my_dict = dict(name="Madi", age=28, city="Lahore")
print(my_dict)

{'name': 'Madi', 'age': 28, 'city': 'Lahore'}

In [12]:
# Print value of a certain key in your dictionary

value = my_dict['name']
print(value)

Madi

In [14]:
# Add a key value pair to an existing dictionary
my_dict["education"] = "Master"
print(my_dict)

{'name': 'Madi', 'age': 28, 'city': 'Lahore', 'education': 'Master'}

In [15]:
# Modify it further
my_dict["education"] = "Masters in English Literature"
print(my_dict)

{'name': 'Madi', 'age': 28, 'city': 'Lahore', 'education': 'Masters in English Literature'}

Deleting pairs

In [18]:
del my_dict["education"]
print(my_dict)

{'name': 'Madi', 'age': 28, 'city': 'Lahore'}

In [19]:
my_dict.pop("name")
print(my_dict)

{'age': 28, 'city': 'Lahore'}

In [20]:
# For deleting the last item:

my_dict.popitem()
print(my_dict)

{'age': 28}

In [22]:
if "age" in my_dict:
    print("Yes")
else:
    print("No")

Yes

In [25]:
my_dict= {"fruit" : "cherry", "vege" : "potato", "nuts" : "almonds"}
try:
    print(my_dict["fruit"])
except:
    print("Error")

cherry

In [26]:
my_dict= {"fruit" : "cherry", "vege" : "potato", "nuts" : "almonds"}
try:
    print(my_dict["furniture"])
except:
    print("Error")

Error

In [27]:
for key in my_dict:
  print(key)

fruit
vege
nuts

In [34]:
my_dict= {"fruit" : "cherry", "vege" : "potato", "nuts" : "almonds"}
for value in my_dict.values():
  print(value)

cherry
potato
almonds

In [33]:
for key in my_dict.keys():
  print(key)

fruit
vege
nuts

In [35]:
for key, value in my_dict.items():
  print(key, value)
  print(value, key)

fruit cherry
cherry fruit
vege potato
potato vege
nuts almonds
almonds nuts

Copying:

In [36]:
# Shallow Copy : Any changes in copy will modify the original dictionary as well

my_dict_copy = my_dict
print(my_dict_copy)

{'fruit': 'cherry', 'vege': 'potato', 'nuts': 'almonds'}

In [37]:
my_dict_copy ["drinks"] = "coconut milk"
print(my_dict)

{'fruit': 'cherry', 'vege': 'potato', 'nuts': 'almonds', 'drinks': 'coconut milk'}

In [42]:
# To prevent modification of the original dictionary we use copy() function:
my_dict_copy_1 =  my_dict.copy()
print(my_dict_copy_1)
print(my_dict)

my_dict_copy_1 ["fast food"] = "burger"
print(my_dict_copy_1)
print(my_dict)

{'fruit': 'cherry', 'vege': 'potato', 'nuts': 'almonds', 'drinks': 'coconut milk'}
{'fruit': 'cherry', 'vege': 'potato', 'nuts': 'almonds', 'drinks': 'coconut milk'}
{'fruit': 'cherry', 'vege': 'potato', 'nuts': 'almonds', 'drinks': 'coconut milk', 'fast food': 'burger'}
{'fruit': 'cherry', 'vege': 'potato', 'nuts': 'almonds', 'drinks': 'coconut milk'}

In [41]:
# OR

my_dict_copy_1 =  dict(my_dict)
print(my_dict_copy_1)

my_dict_copy_1 ["fast food"] = "burger"
print(my_dict_copy_1)
print(my_dict)

{'fruit': 'cherry', 'vege': 'potato', 'nuts': 'almonds', 'drinks': 'coconut milk'}
{'fruit': 'cherry', 'vege': 'potato', 'nuts': 'almonds', 'drinks': 'coconut milk', 'fast food': 'burger'}
{'fruit': 'cherry', 'vege': 'potato', 'nuts': 'almonds', 'drinks': 'coconut milk'}

In [44]:
# Merging two dictionaries

dict_1 = {"name" : "Madi", "age" : 28}
dict_2 = {"city" : "Lahore", "country" : "Pakistan"}

# comb_dict = dict_1 + dict_2
# print(comb_dict)            Don't try to concatenate dictionaries like you do with lists.**

dict_1.update(dict_2)
print(dict_1)

{'name': 'Madi', 'age': 28, 'city': 'Lahore', 'country': 'Pakistan'}

In [2]:
# Keys and values can be other data types as well

dict_1 = {0: 0, 1 : 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
print(dict_1)

# Now you can access values like this:

value = dict_1[4]
print(value)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
16

In [3]:
# Tuple in a dictionary

this_tuple = (3, 4, 5)
this_dict = {this_tuple: 12}
print(this_dict)

{(3, 4, 5): 12}

In [5]:
# List in a dictionary - We do this when we have to assign multiple values to a single key

list_dict =  {"names" : ["Anna", "Hailey", "Amber", "Richard"], "ages" : [13, 18, 12, 11]}
print(list_dict)

{'names': ['Anna', 'Hailey', 'Amber', 'Richard'], 'ages': [13, 18, 12, 11]}